@keyframes wavyGlow {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25% {
        transform: rotate(90deg) scale(1.05);
    }

    50% {
        transform: rotate(180deg) scale(0.95);
    }

    75% {
        transform: rotate(270deg) scale(1.05);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }

    /* rotate full circle, not 0 */
}

.glow-circle {
    background: radial-gradient(circle, rgba(0, 255, 255, 0.89) 0%, transparent 70%);
    animation: wavyGlow 8s linear infinite;
}